
<div class="book-details-container">

    <div class="book-details-h2">
        <h1 class="books-heading">Books Details</h1>
    </div>
    <div class="book-left-right-container">
        <div class="left">
            <div class="book-details-img-container">
                <img [src]="currBook.imageUrl" alt="book-image.jpg" />
            </div>
            <div class="rent-book-btn-container">
                <p id="available-text">{{availableText}}</p>
                <button  class="rent-book-btn delete-book-btn" (click)="deleteBook()">Delete this book</button>
                <button  class="rent-book-btn update-book-btn" (click)="gotoUpdate()">Update this book</button>
                
            </div>
        </div>
    
        <div class="right">
            <div>
                <p><b>Title: <span>{{currBook.title}}</span></b></p>
            </div>
            <div>
                <p><b>ISBN: <span>{{currBook.isbn}}</span></b></p>
            </div>

            <div>
                <p><b>Author: <span>{{currBook.authorName}}</span></b></p>
            </div>

            <div>
                <p><b>Category: <span>{{currBook.subjectName}}</span></b></p>
            </div>

            <div>
                <p><b>Location: <span>{{currBook.subjectName}} section, {{currBook.bookShelfNo}} Shelf, {{currBook.shelfRowNo}} row</span></b></p>
            </div>
            <div>
                <p><b>Description: <span>{{currBook.description}}</span></b></p>
            </div>

            
        </div>
    </div>
</div>
