
<div class="book-details-container">

    <div class="book-details-h2">
        <h2>Book Details</h2>
    </div>
    <div class="book-left-right-container">
        <div class="left">
            <div class="book-details-img-container">
                <img src="#" alt="book-image.jpg" />
            </div>
            <div class="rent-book-btn-container">
                <button class="rent-book-btn">Return This Book</button>
            </div>
        </div>
    
        <div class="right">
            <div>
                <p><b>Title</b></p>
            </div>
            <div>
                <p><b>ISBN</b></p>
            </div>

            <div>
                <p><b>Author</b></p>
            </div>

            <div>
                <p><b>Category</b></p>
            </div>

            <div>
                <p><b>Location</b></p>
            </div>

            <div>
                <p><b>Rented Date</b></p>
            </div>

            <div>
                <p><b>Expected Return Date</b></p>
            </div>
            <div>
                <p><b>Description</b></p>
            </div>

            
        </div>
    </div>
</div>