<div class="form-container">
    
    <div class="login-form-container">
        <h3 class="login-h3-heading">Login</h3>
        <form class="form-box">
            
            <div class="input-container">
                <label for="email">Email</label>
                <br>
                <input type="email" 
                    class="login-input" 
                    (input)="OnUpdateEmail($event)"  
                    name="email" 
                    placeholder="Email"  
                    required
                    />
            </div>
    
            <div class="input-container">
                <label for="password">Password</label>
                <br>
                <input type="password" 
                    class="login-input" 
                    (input)="OnUpdatePassword($event)" 
                    name="password" 
                    placeholder="Password"  
                    required
                    />
                <p class="empty-error-message" id="empty-error-msg">Email or Password can't be empty</p>
            </div>
    
            <button class="login-btn" (click)="login($event)">Login</button>
    
                
        </form>
    </div>
    </div>
    
    
